header{background-color:rgb(255,255,255);margin-left:10%;margin-right:10%; padding:2px;}
body{background-color:rgb(250,250,250);}
.content{background-color:white;
		margin-left:11%;margin-right:11%;margin-top:1%;margin-bottom:1%;
          
         outline:13px solid rgb(215,210,219);border:1px solid blue;border-top:0;}

#leftpart{ width:20%;float:left;}
#rightpart{width:79%;float:left;}
p.clear{clear:both;}
ul li{list-style-type:none;font-size:14px;line-height:30px;}
.details{text-align:right;}

.fresher_details{display:none;}
.lt1year_details{display:none;}
.gt1year_details{display:none;}
#custom_dialog_success{width:200px;height:100px;background-color:green;padding:50px 20px;
			border:3px solid blue;border-radius:5px;color:black;position:absolute;
			 top:200px;
			 left:500px;
			 opacity:0.7;
			 display:none;

}
#custom_dialog_error{width:200px;height:100px;background-color:red;padding:50px 20px;
		border:3px solid blue;border-radius:5px;color:black;position:absolute;
		top:200px;
		left:500px;
		opacity:0.7;
		display:none;

}
.custom_btn{padding:10px 5px;background-color:gray;margin-left:40px;width:100px;}



a{text-decoration:none;}
input{border:1px solid rgb(120,206,227);margin-top:0px;}
select{border:1px solid rgb(120,206,227);margin:0px;}
div{color:gray;}
span{color:red;}
span.error_text{color:red;font-size:12px;}
footer{clear:both;text-align:center;color:red;font-size:90%;}