body{ margin:0;padding:0;}
#nav1{float:right;padding:45px 0px 15px 0;margin-right:10%;}
#nav2{display:inline;float:right;margin-right:10%;clear:right;}
#nav1 ul li{list-style-type:none;display:inline;color:white;}
li input[type="text"]{background-color:gray;width:100px;border:0px;height:18px;}
li input[type="submit"]{background-color:gray;border:0px;height:18px;}
#nav1 ul li{font-size:11px;padding:0 5px;}
a{text-decoration:none;color:white;}
#logo{
      opacity:1;
	  height:65px;
	  width:200px;
	  margin-top:20px;
	  margin-left:100px;
	  float:left;
	  
   }
   
   #gallery ul li{display:inline-block;}
   figcaption{text-align:center;font-size:13px;}
   
  
   
.menu_head{margin-bottom:5px;font-weight:bold;}
header{background-color:black;color:white;width:100%;height:135px;}


#head {
    color:white;
    margin-right:100px;
    font-size:10px;
   display:inline-block;
    float:right;
}
td {
    padding: 0px;margin:0px;border:1px;width:100px;
}
#head2{
   margin-right:100px;display:inline-block;float:right;}
#head2 li{display:inline;padding:5px;}

#head a:link{color:white;text-decoration: none;}

#content a:link{color:red;text-decoration:underline;}#content a:visited{color:red;text-decoration:underline;}

.menu a:link{color:black;text-decoration: none;}.menu a:visited{color:black;text-decoration: none;}

 
img{opacity:0.5;}
img:hover{opacity:0.9;}
figcaption{color:red;}
.menu{float:left;}
.menu li{list-style-type:none;font-size:10px;}
li.menu_head{ font-size:15px;}




.dropbtn {
    background-color:black;
    color: white;
    padding: 6px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.dropbtn1 {
    background-color:black;
    color: white;
    padding:2px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
	
	
}

.dropdown-content a {
    font-size:12px;
    padding:5px 10px; 
    text-decoration: none;
    display: block;
	color:white;
	border-bottom:1px dotted;
}

.dropdown-content a:hover {color: #ddd;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown{display:inline-block;transition: width 2s, height 2s;}






footer{color:white;clear:both;}
#footer_gallery{margin-left:250px;margin-right:250px;}
#footer_gallery a{margin-left:50px;}
#area1{background-color:gray;}
#area1 p{text-align:center;}
#area2{background-color:black;font:gray;height:60px;font-size:12px;}
#area2 p{margin-left:200px;}
#area2 a:link{color:blue;}